body{
  font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  }
  .basic-color{
    color:#FD6E0A;
  }
  nav > ul {
    display: flex;
    align-items: center;
  }
  nav li {
    list-style: none;
    margin: 50px;
  }
  nav a{
    text-decoration: none;
    color:#474747;
  }
  .btn-primmery{
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color:rgb(22, 35, 35)
  
  }
  .header{
    background: #FFF8F3; 
    background-image: url('../images/header_bg.png');
    background-repeat:no-repeat ;
    background-position: bottom right;
  }
  .banner{
    display:flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    
  }
  .banner .profilepic{
    width: 500px;
    height: 600px;
    position: bottom right;
   
  }
  .prothom{
    color:#474747;
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
  }
  .second{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin: 0px;
  }
  .thard{
    
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding:0px;
    max-width:585px;;
  

  } 

main{
  
  max-width: 1140px auto;
}
.about{
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  color: var(--dark-01, #181818);
  margin: 130px 0px;
}

.section-title{

  color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.section-dis{
  color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}






.about-info-container{
  display: flex;
  justify-content: space-around;
}
.info-desp{
  text-align: center;
 
}
.st{
  color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
#okk{
 padding: 30px 150px;
}
.skill-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding:30px;
  gap: 24px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
}
.skill-descreption{
color:#757575;
}






.resume-column-title{
  color: #474747;
font-size: 30px;
font-weight: 700;
line-height: normal;
}
.resume-container{
  
}