body{
  font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  }
  .basic-color{
    color:#FD6E0A;
  }
  nav > ul {
    display: flex;
    align-items: center;
  }
  nav li {
    list-style: none;
    margin: 50px;
  }
  nav a{
    text-decoration: none;
    color:#474747;
  }
  .btn-primmery{
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color:rgb(22, 35, 35)
  
  }
  .header{
    background: #FFF8F3;
  }
  .banner{
    display:flex;
    align-items: center;
    padding: 30px 30px 30px 150px;
  }
  .banner .profilepic{
    width: 500px;
    height: 600px;
   
  }